<%- include layouts/header.ejs %>
    <div class="container">
      <div class="jumbotron mt-3">
        <h1 class="display-4"><%= title %></h1>
        <p class="lead">
            
        </p>
        <hr class="my-4">
        <p>
          Somos una empresa dedicada a ayudar a estudiantes y publico en general  vendiendo manuales de como realizar programas 
          usando node js y Mysql, a precios accesible, no manejamos usuarios asi que es necesario que una vez que pagues esperes
          para poder descargar tus manuales pagados puesto que no permitimos la re-descarga.

        </p>
        <p class="lead">
        </p>
      </div>
    </div>

<%- include layouts/footer.ejs %>
